<header class="site-header" role="banner">
	<a href="{{ '/' | relative_url }}"><div class="site-title">Ryan S.</div></a>
	<nav class="site-nav">
		<ul class="nav-items">
			{% for item in site.data.navigation %}
			<li>
				<a {% if page.nav_current == item.link or page.url == item.link %}
						aria-current="page" {% endif %} {% if item.class %}
						class="{{ item.class }}" {% endif %} {% if item.label %}
						aria-label="{{ item.label }}" {% endif %} href="{{ item.link | relative_url }}">
					{% if item.text %}
					{{ item.text | capitalize }}
					{% endif %}
				</a>
			</li>
			{% endfor %}
		</ul>
	</nav>
</header>