body, html {
    height: 100%;
    width: 100%;
}

body {
    margin-top: 0;
    padding: 0;
    // This is necessary to make the footer stick to the bottom of the page
    display: flex;
    flex-direction: column;
}

main {
    box-sizing: border-box;
    padding: 0 1em;
}