$white: #f7f7f7;

$black: #0f0f0f;

:root {
    //I would like to use sass variables istead of hardcoding the colors
    --color-github-icon: #{$white};
    --color-linkedin-icon: #{$white};
    --color-telegram-icon: #{$white};
    --color-twitter-icon: #{$white};
}