.site-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;

    border-bottom: 1px solid #e8e8e8;
    
    padding: 1em 0 0 0;

    a{
        text-decoration: none;
    }

    .site-title {
        font-size: 26px;
        font-weight: 300;
    }

    .site-title, .site-title:visited {
        color: #424242;
    }

    .site-nav {
        .nav-items {
            display: flex;
            list-style: none;
            padding: 0;
            li:not(:first-child) {
                margin-left: 1em;
            }
        }
    }
}

@media (max-width: 768px) {
    .site-header {
        flex-direction: column;
        align-items: center;
        .nav-items {
            li {
                margin: 0;
            }
        }
    }
}