---
layout: default
---

<section>
    <h1>{{ page.title }}</h1>
    <span>Escrito em {{ page.date | date: "%d/%m/%Y" | date_to_long_string }} por {{ page.author }}</span>
    <div>
        <p>
            <strong>Resumo:</strong>
            {{ page.summary }}
        </p>
    </div>
    <img src="{{ page.image }}" alt="{{ page.imageAlt }}">
    <h2>Conteúdo</h2>
    <p>{{ content }}</p>
    <quote>
        Encontrou algum erro? sinta-se a vontade para abrir um pull request no arquivo <a href="{{ page.source }}" target="_blank">fonte</a> deste post.
    </quote>
</section>